# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Evita subir entornos virtuales
.venv/
venv/

# Archivos de configuración personal
*.env
.env
.env.*

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos generados por herramientas
*.log
*.sqlite3
*.db

# Archivos de VSCode y editores comunes
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db
